@font-face {
    font-family: "Kranto";
    src: url("../fonts/fonnts.com-Kranto_SemiCond_Regular_Text.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Uncage";
    src: url("../fonts/UNCAGE-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}