.footer {
    background-color: var(--orange);
    height: 170px;
    transition: 0.5s;
    margin-top: 8rem;
}

.navFooter ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navFooter ul li {
    margin-top: 2rem;
    margin-left: 1rem;
}

.navFooter  a {
    text-decoration: none;
    color: var(--white);
    margin: 1rem;
    font-family: var(--kranto);
    transition: 0.5s;
}

.navFooter  a:hover {
    color: var(--darkBlue);
    transition: 0.5s;
}

.logoFooter {
    position: fixed;
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    right: 0;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
}

.iconsFooter {
    width: 4%;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.iconsFooter:hover {
    transform: scale(1.15);
    transition: 0.5s;
}